---
// import '../styles/global.css';
import Header from './Header.astro';
import Footer from './Footer.astro';
import ContributionModal from '@/components/ContributionModal.astro';
import { getPaymentMethods, getProjectBySlug } from '@/lib/supabase';

export interface Props {
  title: string;
  description?: string;
  subtitle?: string;
}

const {
  title,
  description = 'Plataforma familiar de crowdfundings Gallardo',
  subtitle,
} = Astro.props;

const { slug } = Astro.params;
const projectConfig = await getProjectBySlug(slug || '');
const customPaymentMethods = await getPaymentMethods();
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <meta
      name='description'
      content={description}
    />
    <title>{title}</title>

    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='/styles/global.css'
    />
  </head>
  <body>
    <Header
      title={title}
      subtitle={subtitle}
    />
    <main class='main-content'>
      <slot />
    </main>
    <slot name='footer' />
    <ContributionModal
      paymentMethods={customPaymentMethods}
      currency='€'
      modalTitle='Apoya el proyecto familiar'
      modalIcon='🧡'
      modalSubtitle='Ayuda a la familia a crear recuerdos inolvidables'
      summaryTitle='Resumen de tu aporte'
      formTitle='Tus datos'
      paymentTitle='Selecciona método'
      successTitle='¡Gracias por tu apoyo!'
      successMessage='Hemos registrado tu contribución correctamente.'
      cancelButtonText='Cerrar'
      confirmButtonText='Confirmar y Registrar'
      bizumConcept={projectConfig?.bizum_concept || ''}
      bizumNumber={projectConfig?.bizum_phone || ''}
      totalLabel='Total a contribuir:'
      emojiOptions={projectConfig?.emoji_options &&
      projectConfig.emoji_options.length > 0
        ? projectConfig.emoji_options
        : [
            { value: '🙂', label: 'Amigo de la familia' },
            { value: '💛', label: 'Colaborador' },
          ]}
      projectId={projectConfig?.id && projectConfig.id}
    />
  </body>
</html>
